@import "tailwindcss";
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.grass {
  background-color: #9bcc50;
}

.poison {
  background-color: #b97fc9;
}

.fire {
  background-color: #fd7d24;
}

.water {
  background-color: #4592c4;
}

.electric {
  background-color: #eed535;
}

.ice {
  background-color: #51c4e7;
}

.fighting {
  background-color: #d56723;
}

.ground {
  background-color: #f7de3f;
}

.flying {
  background-color: #3dc7ef;
}

.psychic {
  background-color: #f366b9;
}

.bug {
  background-color: #729f3f;
}

.rock {
  background-color: #a38c21;
}

.ghost {
  background-color: #7b62a3;
}

.dragon {
  background-color: #53a4cf;
}

.dark {
  background-color: #707070;
}

.steel {
  background-color: #9eb7b8;
}

.fairy {
  background-color: #fdb9e9;
}

.normal {
  background-color: #a4acaf;
}

